Repository rafaelreis-r5/R5-Flowlight-V2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Bump version to 1.1.0
  package.json
  src-tauri/Cargo.toml
Due: prettier --write

Update README.md with v1.1.0 changes and detailed implementation status
  README.md
Due: prettier --write

chore(build): corrigir e unificar scripts de build e desenvolvimento
  MUDANCAS_IMPLEMENTADAS.md
  package.json
Due: prettier --write

fix(core): Estabiliza inicialização e comunicação Daemon + Overlay
  .eslintrc.json
  DOCUMENTATION.md
  MUDANCAS_IMPLEMENTADAS.md
  apps/search-daemon/gen/schemas/acl-manifests.json
  apps/search-daemon/gen/schemas/desktop-schema.json
  apps/search-daemon/gen/schemas/macOS-schema.json
  apps/search-overlay/gen/schemas/acl-manifests.json
  apps/search-overlay/gen/schemas/desktop-schema.json
  apps/search-overlay/gen/schemas/macOS-schema.json
  apps/search-overlay/src/real_overlay.rs
  husky_disabled/pre-commit
  husky_disabled/pre-push
  package.json
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/hooks/useGlobalShortcut.ts
Due: eslint --fix, prettier --write

refactor(core): Remove legacy search component and update docs
  DOCUMENTATION.md
  MUDANCAS_IMPLEMENTADAS.md
  src/App.tsx
  src/components/Windows/SearchWindow.tsx
Due: eslint --fix, prettier --write

fix(ci): Use npm instead of yarn and trigger on develop branch
  .github/workflows/ci.yml
Due: prettier --write

chore(deps): Sync package-lock.json
  package-lock.json
Due: prettier --write

fix(ci): Install Linux dependencies for Tauri build
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): Add universe repo for Linux dependencies
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): Use ubuntu-22.04 for Linux build stability
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): Install build-essential and pkg-config for Linux build
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): Add libsoup-3.0-dev for Linux build
  .github/workflows/ci.yml
Due: prettier --write

fix(ci): Add libwebkit2gtk-4.1-dev for Linux build
  .github/workflows/ci.yml
Due: prettier --write

fix(deps): Re-add macOS specific dependencies to src-tauri/Cargo.toml
  src-tauri/Cargo.toml
Due: none

fix(build): Resolve Windows build errors (winreg, HWND, windows features)
  Cargo.toml
  src-tauri/Cargo.toml
  src-tauri/src/commands/window.rs
Due: none

fix(build): Corrigir dependências específicas de plataforma
  Cargo.toml
  apps/search-overlay/Cargo.toml
  platform/macos/Cargo.toml
Due: none

fix(build): Restaurar dependências de plataforma no workspace
  Cargo.toml
  apps/search-overlay/Cargo.toml
  platform/macos/Cargo.toml
Due: none

fix(build): Corrigir gerenciamento de dependências de plataforma
  Cargo.toml
  apps/search-overlay/Cargo.toml
  platform/macos/Cargo.toml
  src-tauri/Cargo.toml
Due: none

fix(build): Corrigir dependência windows no ipc-communication
  libs/ipc-communication/Cargo.toml
Due: none

fix: corrige erros de compilação no Windows
  src-tauri/src/commands/icons.rs
  src-tauri/src/commands/window.rs
Due: none

fix(windows): correct HWND and style conversions
  src-tauri/src/commands/window.rs
Due: none

fix: unify Windows dependencies to version 0.52.0
  Cargo.toml
  libs/ipc-communication/Cargo.toml
  src-tauri/Cargo.toml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,html,css,scss,yml,yaml})
